@import "tailwindcss";

@font-face {
  font-family: 'FK Display';
  src: url("/fonts/63dc2f26f47a243b277d63fd_FKDisplay-RegularAlt.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk';
  src: url("/fonts/63dc2f463c41a74851b5dc47_FKGrotesk-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fk-display: 'FK Display', Arial, sans-serif;
  --font-fk-grotesk: 'FK Grotesk', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
  display: none;  
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
